.App {
  height: 100vh;
  width: 100%;
}

.Container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(100,1fr);
  grid-template-rows: repeat(50,1fr);
}

.Header {
  grid-column: 1/101;
  grid-row: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  z-index: 10;
  background-color: #000;
}

.Desk {
  grid-column: 1/101;
  grid-row: 1/51;
  display: flex;
}

.Desk-image{
  height: 100%;
  width: 100%;
}

.Screen {
  grid-column: 34/67;
  grid-row: 15/28;
  display: flex;
}

.Screen-image{
  width: 100%;
}

.Button-container {
  grid-column: 70/80;
  grid-row:20/22;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Main-Button {
  height: 40px;
  width: 100px;
  background-color: green;
  border-radius: 5px;
  color: #fff;
  align-self: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:35%;
}
